{% extends 'base.html' %}


{%block navigation %}

<nav>

    <a href="{% url 'snack_list' %}"> List Page </a>

</nav>

{% endblock navigation %}


{%block content %}
<div class="home">

    <h1>Snacks Home Page</h1>

    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Impedit, quibusdam possimus perspiciatis maxime iste delectus quod perferendis,
        reprehenderit dicta vero praesentium veniam recusandae! Deserunt officiis ad tempora impedit! Vero, temporibus.
    </h4>


</div>

{% endblock content %}



